#page-header {
  width: 100;
  padding: 1.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#page-header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#page-header nav a {
  color: var(--black);
}

#page-header nav a:nth-child(3) {
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-header nav a:nth-child(3):hover {
  background-color: var(--light-grey);
  border-radius: 50%;
}

#page-header nav a:hover {
  text-decoration: underline var(--black);
}

#page-header .profile-placeholder {
  background-color: var(--black);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}