.container {
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.container > img {
  width: 30rem;
  margin-top: 7rem;
}

.container .input-wrapper {
  border: 0.1rem solid var(--light-grey);
  border-radius: 5rem;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.container .input-wrapper:hover {
  box-shadow: 0 0 15px var(--light-grey);
}

.container .input-wrapper input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.6rem;
}

.container .input-wrapper input:focus {
  background: none;
}

.container .input-wrapper .actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.container .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.container .btn-group button {
  background-color: var(--light-white);
  border: 0.1rem solid transparent;
  border-radius: 0.4rem;
  padding: 1.6rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 1.4rem;
  color: var(--mid-grey);
}

.container .btn-group button:hover {
  border-color: var(--light-grey);
}